html body {
    height: 100%;
}

body {
    background-color: #006134; /* we can change this to whatever you want. I just picked the school colors. */
    margin: auto;
}

.content {
    background-color: #800080;
    text-align: center;
    padding: 20px;
    margin: auto;
    height: 95vh;
    width: 95vw;
    margin-top: 2.5vh;
    /* vh is a relative unit. 95 vh means 95% of the total vertical height of the window. This is an adaptive unit. It is NOT a relative unit however */
}
.btn-Splash {
    display: inline-block;
    width: 50vh;
    min-width: 150px;
    border-radius: 50%;
    overflow: hidden;
    line-height: 50vh;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 15vh;
    font-size:2em; /* thought we could use a better font size and family*/
    font-family: monospace;
}
