html body {
    height: 100%;
}

body {
    background-color: #8b0000; 
    margin: auto;
    width: 100%;
}

.content {
    background-color: white;
    box-sizing: border-box;
    max-width: 90%;
    margin: auto;
    margin-top: 4%;
    margin-bottom: 4%;
    border-radius: 25px;
}

.vertical-center {
  min-height: 80%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 80vh; /* These two lines are counted as one :-)       */
  max-height: 90%;
  max-height: 90vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.round-button {
	width:25%;
    text-align: center;
    margin: 2.5%;
}
.round-button-circle {
	width: 100%;
	height:0;
	padding-bottom: 100%;
    border-radius: 50%;
	border:2px solid #AA3030;
    overflow:hidden;
    background: #8b0000; 
    box-shadow: 0 0 3px gray;
    text-align: center;
}
.round-button-circle:hover {
	background:#AA3030;
}
.round-button a {
    display:inline-block;
	width:50%;
	padding-top:50%;
    padding-bottom:50%;
	line-height:1em;
	margin-top:-0.5em;
    
	text-align:center;
	color:#e2eaf3;
    font-family:monospace;
    font-size:2em;
    font-weight:bold;
    text-decoration:none;
}
